In [4]:
import pandas as pd

df = pd.read_csv('T_T100_MARKET_ALL_CARRIER.csv')
df.head()

,PASSENGERS,FREIGHT,MAIL,DISTANCE,UNIQUE_CARRIER,AIRLINE_ID,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER,...,DEST_STATE_NM,DEST_COUNTRY,DEST_COUNTRY_NAME,DEST_WAC,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS,DATA_SOURCE
0,0.0,0.0,0.0,1716.0,GL,20402,Miami Air International,16690,I,GL,...,NaN,MX,Mexico,148,2019,1,3,4,L,IU
1,0.0,0.0,0.0,2162.0,GL,20402,Miami Air International,16690,I,GL,...,British Columbia,CA,Canada,906,2019,1,3,5,L,IU
2,0.0,0.0,0.0,1692.0,GL,20402,Miami Air International,16690,I,GL,...,Tennessee,US,United States,54,2019,1,3,4,L,IU
3,0.0,0.0,0.0,848.0,GL,20402,Miami Air International,16690,I,GL,...,Florida,US,United States,33,2019,1,3,2,L,IU
4,0.0,0.0,0.0,1030.0,GL,20402,Miami Air International,16690,I,GL,...,Texas,US,United States,74,2019,1,3,3,L,IU